body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

#producto-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 16rem; /* Ajusta el ancho de la tarjeta */
}

#producto-imagen {
  object-fit: cover;
  height: 280px; /* Ajusta la altura de la imagen */
}

.card-body {
  background-color: #ffffff;
}

.card-title {
  font-size: 1.25rem;
  color: #007bff;
}

.card-text {
  font-size: 0.875rem;
  color: #6c757d;
}

.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.precio {
  font-size: 1.25rem;
  font-weight: bold;
  color: #28a745;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}
